<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello world</title>
  </head>
  <body>
    <h1>How are you</h1>
    <div class="remark">
      <p>Pug works</p>
    </div>
    <!-- list -->
    <ol class="groceries" id="shopping">
      <li>mangoes</li>
      <li>oranges</li>
      <li>grapes</li>
      <li>jackfruit</li>
    </ol>
    <div class="connect">
      <p> <a href="www.google.com">google</a></p>
      <img src="" alt=""class=food id="fruits">
      <form action="post" name="signup">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
      </form>
    </div>
    <p>
      name
      <br>
      address
    </p>
  </body>
</html>
